@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.songs-list {
    margin: $mobile-container;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 3rem;

    @include tablet {
        flex-direction: row;
        flex-wrap: wrap;
        margin: $tablet-container;
        margin-top: 5rem;
        margin-bottom: 5rem;
        gap: 3rem;
        justify-content: center;
    }
}

.loader {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet {
        margin-top: 5rem;
    }
}