// breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// colors
$tracker-bg: #1C1D21;
$white: #FFF;
$black: #000;
$grey: #636363;
$tracker-purple: #8390FA;

// containers
$mobile-container: 0 1rem;
$tablet-container: 0 2rem;
$desktop-container: 0 7.5rem;