@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.song-card {
    height: 10rem;
    &__iframe {
        width: 100%;
        height: 100%;
    }

    @include tablet {
        height: 22rem;
        width: 50rem;
    }
}